  <% if signed_in? %>
    <h1> Welcome <%= @user.f_name %> <%= @user.l_name %> </h1>
    <%= link_to("Look at your adventures", adventures_path) %>
    <p></p>
  <% else %>
    <div class="center hero-unit">
      <h1>Welcome to the Outdoor Journal</h1>
      <h2>You are not signed in<h2>
  <% end %>


