<div class="map-canvas"></div>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCarFkFloIvQnB_gMYoFEZltyDk4K7vQfQ&sensor=false" %>
<%= javascript_include_tag "adventures" %>
<script type="text/javascript">

function initialize() {
  var mapOptions = {
    center: new google.maps.LatLng(44.8763188999, -84.8419699073),
    zoom: 15
  };
  var map = new google.maps.Map(document.getElementById("map-canvas"),
  mapOptions);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
