<div class="map-canvas"></div>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCarFkFloIvQnB_gMYoFEZltyDk4K7vQfQ&sensor=false" %>
<%= javascript_include_tag "adventures" %>
