<h1>AdventureTypes#edit</h1>
<p>Find me in app/views/adventure_types/edit.html.erb</p>
<%= form_for @adventure_type, html: {class: "nifty_form"} do |f| %>
  <%= f.label :adventure_type %>
  <%= f.text_field :adventure_type %>
<% end %>
