 <div>
 <%= @adventure_type.adventure_type %>
 <%= link_to "Delete", { :controller => "adventure_types", :action => "destroy"}, method: "delete", data: { confirm: 'Are you sure you want to delete this adventure type' } %>
 </div>
