// Place all the styles related to the adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 100%;
}

#banner {
  margin: 0 auto;
}
#top_links {
  width: 100%;
  height: 30px;
  background-color: #E6CC80;
}
#top_links_list li {
  display: inline;
  padding: .2em 1em;
}

#spacer {
  height: 10px;
}



#map-canvas {
  height: 400px;
  width: 400px;
}
