// Place all the styles related to the adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  height: 250px;
  width: 250px
}

#map-canvas {
  height: 50%;
  width: 50%
}
