// Place all the styles related to the adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Tahoma;
}
#wrapper {
  min-height: 1000px;
  width: 100%;
  margin: 0px;
  background-color: #DED7C1;
}

#banner {
  position: absolute;
  left: 100px; 

}

#banner_wrapper {
  width: 100%;
  position: relative;
  height: 190px;
}

#content {
  margin-left: 100px;
  font-family: "Verdana";

}

#top_links {
  margin-left: 100px;
}

#top_links_wrapper {
  width: 100%;
  height: 30px;
  background-color: #E6CC80;
  position: relative;
}
#top_links_list li {
  display: inline;
  padding: .2em 1em;
}

#spacer {
  height: 10px;
}



#map-wrapper {
  overflow: hidden;
}
#adventure-info {
float:left;
}

#map-canvas {
  overflow: hidden; 
  height: 400px;
  width: 400px;
  border-style: solid;
  border-width: 5px;
}

#footer_wrapper {
  width: 100%;
  height: 100px;
  background-color: #E6CC80;
  position: relative;
}

#footer_text {
  text-size: 4pt;
  text-align: center;
}
  
